  <div class="bodyBackground row">
    <div class="col-md-12">
      <div class="wrapper">
        <div class="cardShadow">
          <div class="circle circle1"></div>
          <div class="circle circle2"></div>
          <div class="block1">
            <div class="logo">
              <h1>LOGIN</h1>
            </div>
            <form [formGroup]="loginForm">
              <input type="text" name="email" formControlName="email" placeholder="Email">
              <input type="password" name="password" formControlName="password" placeholder="Password">
              <button type="button" [disabled]="loginForm.invalid" (click)="handleLogin()" [ladda]="isLoading"
                data-style="slide-left">Login</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
